In [21]:
import pandas as pd
import numpy as np

In [22]:
data=pd.read_csv("C:/users/6/Desktop/DuLieuBanHang.csv")
data.head(2)

,STT,Tên sản phẩm,Đơn vị tính,Số Lượng,Giá Nhập,Giá Bán Sỉ,Giá Bán Lẻ,Thành Tiền,Unnamed: 8,"24,97,000","53,45,000",Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,Máy Phun Sương (Hồng),Cái,5.0,"31,000","37,000","65,000","1,55,000",NaN,Tổng Tiền Lãi,Tổng Tiền,NaN,NaN,NaN,NaN

In [23]:
data.columns

Index(['STT', 'Tên sản phẩm', 'Đơn vị tính', 'Số Lượng', 'Giá Nhập',
       'Giá Bán Sỉ', 'Giá Bán Lẻ', 'Thành Tiền', 'Unnamed: 8', '24,97,000',
       '53,45,000', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14'],
      dtype='object')